<!DOCTYPE html>
<html>
    <head>
        <title>NarutoGame</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
    </head>
    <body>
        <div>TODO write content</div>
        <input type="button" id="bt_call" value="OK">
        <div id="container"></div>
        
        <script type="text/javascript" src="js/libs/react-with-addons.js"></script>
        <script type="text/javascript" src="js/libs/react-dom.js"></script>
        <script type="text/javascript" src="js/libs/jquery.min.js"></script>
        <script type="text/javascript" src="js/components.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>
